@font-face {
  font-family: "SofiaProLight";
  src: url("../fonts/SofiaProRegular.ttf");
}

html body {
  font-family: SofiaProLight;
}

.navbar-ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.navbar-ul a {
  color: red;
}
.navbar-brand-name {
  font-size: 20px;
}
.navbar.scroll {
  background-color: #fb515c;
}
